<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<main layout:fragment="content">
    <h1 class="mt-5">AKU Online Judge</h1>
    <p class="lead">众所周知，计算机领域有两大类赛事：ACM 与 CTF，其中 ACM 是对“数据结构”、“算法设计与分析”等课程的考查，CTF 则是对“计算机网络”、“操作系统”、“计算机组成原理”等课程的综合检验。
        AKU OJ 就是一个为我们安康学院 ACMer 和 CTFer 创建的在线评测平台。
    </p>
    <p class="lead">本项目使用 Java 语言编写，采用 Spring 框架开发，部署在 Azure 云上，并开源至 GitHub，如果您有相关开发背景，或对此感兴趣，欢迎加入我们，一起完善 AKU OJ。</p>
    <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    <li th:each="list:${list}">
        <h3 th:utext="${list.name}"></h3>
    </li>
</main>
</body>
</html>