<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.howiezhao.akuoj.akuCommunity.mapper.CommentMapper">
    <sql id="values">
        id, user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>
    <sql id="insertvalues">
        user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>
    <select id="slelctCommentList" resultType="Comment">

        select <include refid="values"></include>
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
        order by create_time asc
        limit #{offset}, #{limit}
    </select>

    <select id="selectCommuntCount" resultType="int">
        select count(id)
        from comment
        where status=0
        and entity_type=#{entityType}
        and entity_id=#{entityId}
    </select>

    <insert id="insertComment">
        insert into comment(<include refid="insertvalues"></include>)
        VALUES (#{userId},#{entityType},#{entityId},#{entityId},#{content},#{status},#{createTime})
    </insert>

</mapper>